<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% for person in people %}
        <h2>{{ person.name }} {{ person.surname }}</h2>
        <p>{{ person.description }}</p>
        <ul>
            {% for phone in person.phones %}
                <li>{{ phone.typ }}: {{ phone.number }}</li>
            {% endfor %}
        </ul>
        <br><hr/><br>
    {% endfor %}
</body>
</html>